@import "../vars";

.header {
  background-color: $secondary-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  &__nav {
    order: -1;
    max-width: 445px;
  }
  &__menu-item {
    &:hover .header__submenu {
      display: block;
    }
  }
  &__submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $accent-color;
    width: 100%;
    z-index: 2;
    display: none;

    &-item {
      color: $dark;
      text-decoration: none;
      display: block;
      padding: 0.8em 0.3em;
    }
  }

  &__link {
    position: relative;

    &-item {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: $dark;
      text-decoration: none;
      padding: 1em 0;
      margin-right: 35px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
