@import "../vars";

.header {
  background-color: $secondary-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  &__nav {
    order: -1;
    max-width: 445px;
  }
  &__submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $accent-color;
    width: 100%;
    z-index: 2;
    &__item {
      color: $dark;
      text-decoration: none;
      display: block;
      padding: 0.8em 0.3em;
    }
  }
}
