@import "../vars";

.header {
  background-color: $secondary-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  &__nav {
    order: -1;
    max-width: 445px;
  }
  &__submenu {
    display: none;
    position: absolute;
  }
}
