@import "../vars";

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  &__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: $accent-dark;
  }
}
