@import "../vars";

.slider {
  background-color: $secondary-color;

  &__inner {
    padding-top: 161px;
  }
  &__item-inner {
    position: relative;
    display: flex;
  }
  &__text {
    width: 50%;
  }

  &__img {
    width: 50%;
  }
  &__price {
    position: absolute;
    right: 0;
    max-width: 255px;
  }
  &__old-price,
  &__new-price {
    display: block;
  }
}
.slick-dots {
  text-decoration: none;
}
